%button {
  @include box-sizing(border-box);
  text-align: center;
  border: none;
  background: inherit;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  padding: ($base-line-height / 4) ($base-font-size * 0.8);
  color: $base-font-color;
  font-size: $base-font-size;
  &.hover {
    background: lighten($blue, 60);
  }
}
