@mixin flash($color) {
  background: $color;
  color: darken($color, 60);
  font-weight: bold;
  font-size: $base-font-size * 0.8;
  padding: $base-line-height / 2;
  p {
    margin: 0;
  }
  .close {
    float: right;
    cursor: pointer;
  }
  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}
