@mixin flash($color) {
  color: lighten($color, 60);
  font-weight: bold;
  background: $color;
  padding: $base-line-height / 2;
  p {
    margin: 0;
    padding: 0;
  }
  .container {
    .close {
      float: right;
      cursor: pointer;
    }
    a {
      color: lighten($color, 70);

      &:hover {
        color: lighten($color, 90);
      }
    }
  }
}
