p.navigation = link_to t('navigation.back'), kitchen_board_path

h1 = t('heading.edit', model: @food.class.model_name.human)

== render 'form'

p.navigation = link_to t('navigation.delete', model: @food.class.model_name.human), fridge_food_path(@fridge, @food), method: :delete, class: 'critical'
