@import "bourbon";
@import "bitters/bitters";
@import "neat";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $base-body-color;
  color: $black;
}

.container {
  @include outer-container;
  padding: $base-line-height 0;
  @include media($large-screen) {
    padding: $base-line-height;
  }
}

header {
  border-bottom: 1px solid $base-border-color;
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 30px;
    a {
      color: $base-font-color;
    }
  }
  .control {
    padding: 0;
    margin: 0;
    float: right;
    line-height: 30px;
    li {
      display: inline;
      margin-left: 1.0em;
      a {
        @extend %button;
      }
    }
  }
}

span.button a {
  @include box-sizing(border-box);
  text-align: center;
  background: $base-accent-color;
  border: none;
  color: $white;
  border-radius: $base-border-radius;
  padding: $base-line-height / 4;
  &.hover {
    background: lighten($blue, 60);
  }
}

body {
  .app {
    padding: $base-line-height 0;
  }
  &.home {
    @import "home";
  }
  &.kitchen {
    @import "kitchen";
  }
  &.fridges {
    @import "fridges";
  }
}

footer {
  .container {
    border-top: 1px solid $base-border-color;
    .copyright {
      margin: 0;
    }
  }
}
