@import "bourbon";
@import "bitters/bitters";
@import "neat";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: $base-body-color;
  color: $black;
}

.container {
  @include outer-container;
  padding: $base-line-height 0;
  @include media($large-screen) {
    padding: $base-line-height;
  }
}

header {
  border-bottom: 1px solid $base-border-color;
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 30px;
    a {
      color: $base-font-color;
    }
  }
  .control {
    padding: 0;
    margin: 0;
    line-height: 30px;
  }
}

body {
  .control {
    font-size: $base-font-size * 0.7;
    float: right;
    a {
      @extend %button;
      margin-left: $base-line-height / 4;
    }
  }
  h2 {
    margin-bottom: $base-line-height / 2;
  }
  .navigation {
    font-size: $base-font-size * 0.7;
    margin-bottom: $base-line-height;
    a {
      margin-right: $base-line-height / 4;
      &.critical {
        color: $red;
      }
    }
  }

  &.kitchen,
  &.fridges,
  &.foods,
  &.sessions,
  &.registrations,
  &.passwords,
  &.confirmations {
    h1 {
      font-size: $base-font-size * 0.8;
      border-bottom: 2px solid $black;
      margin-bottom: $base-line-height;
    }
  }
  &.home {
    @import "home";
  }
  &.kitchen {
    @import "kitchen";
  }
  &.fridges {
    @import "fridges";
  }
}

footer {
  .container {
    border-top: 1px solid $base-border-color;
    .settings {
      float: right;
      @include media($small-screen) {
        float: none;
      }
    }
    .copyright {
      margin: 0;
    }
  }
}
