.container {
  .fridge {
    h3 {
      margin-bottom: $base-line-height / 2;
      border-bottom: 1px solid $gray;
    }
    ul.foods {
      li {
        @include span-columns(4 of 12);
        @include omega(3);
        background: $olive;
        height: 120px;
        padding: $base-line-height / 2;
        margin-bottom: $base-line-height;
        .control {
          float: right;
          a {
            color: $white;
          }
        }
        .name {
          padding: 0 0 0.5em 0;
          margin-bottom: 0.5em;
          font-size: $base-font-size * 1.5;
          font-weight: bold;
          color: $white;
          border-bottom: 1px solid $white;
        }
        .limit {
          font-size: $base-font-size * 2.5;
          font-weight: bold;
          color: lighten($olive, 15);
        }
      }
    }
  }
}
